@using BlazorServerCRUDSample.Shared.Models
@page "/delete/{Id}"
@inject HttpClient Http
@inject Microsoft.AspNetCore.Components.NavigationManager Navigation

<h2>Delete</h2>
<h3>Are you sure you want to delete student : @student.Name</h3>
<br />
<div class="col-md-4">
    <table class="table">
        <tr>
            <td>Name</td>
            <td>@student.Name</td>
        </tr>
        <tr>
            <td>Ingredients</td>
            <td>@student.Description</td>
        </tr>
    </table>
    <div class="form-group">
        <input type="submit" value="Delete" @onclick="@(async () => await Delete())" class="btn btn-primary" />
        <input type="submit" value="Cancel" @onclick="@cancel" class="btn btn-warning" />
    </div>
</div>

@functions {
    [Parameter]
    public string Id { get; set; }
    Student student = new Student();
    protected override async Task OnInitializedAsync()
    {
        student = await Http.GetJsonAsync<Student>
    ("/api/student/" + Convert.ToInt32(Id));
    }
    protected async Task Delete()
    {
        await Http.DeleteAsync("api/student/delete/" + Convert.ToInt32(Id));
        Navigation.NavigateTo("/fetchstudent");
    }
    void cancel()
    {
        Navigation.NavigateTo("/fetchstudent");
    }
}    